<div class="article">
  <h2><%= @article.title.chop %>
  <%= link_to edit_article_path(@article) do %>
    <i class="fa fa-pencil " aria-hidden="true"></i>
  <% end %>
  <%= link_to article_path(@article),
       method: :delete,
       data: { confirm: "Delete #{@article.title}?"} do %>
         <i class="fa fa-trash-o" aria-hidden="true"></i>
   <% end %>
   </h2>
  <hr>
  <p><%= @article.content.slice(2, (@article.content.length - 2)) %></p>

  <img src='https://source.unsplash.com/800x350' alt='random image'>
</div>
