// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Helvetica';
}

h2 {
  color: #2E7AB2;
  font-family: 'Roboto Slab'
}

.list-articles, .article, .form {
  margin: 30px 20%;
}

.article {
  h2 {
    color: rgba(0,0,0, 0.8);
    font-size: 36px;
    margin-bottom: 20px;
  }
  a {
    font-size: 24px;
    &:hover {
      text-decoration: none;
    }
  }
}

.form {
  form {
    margin-bottom: 40px;
  }
}
